---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

<p>7 peer-reviewed publications (4 as first author), spanning <em>Journal of Fluid Mechanics</em>, <em>Journal of Computational Physics</em>, <em>Advanced Science</em>, and <em>Soft Matter</em>.
You can also find my publications on <a href="https://orcid.org/0000-0002-3248-7584">my ORCID profile</a>.</p>

{% include base_path %}

<h2>Publications</h2>
<hr />

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h2>Some Talks</h2>
<hr />

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
